/* conways-game-of-life/src/components/PatternPalette.css */
.pattern-palette {
    margin: 10px 0;
    text-align: center;
    width: 100%;
    user-select: none;
  }
  
  .pattern-palette-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
    cursor: pointer;
  }
  
  .patterns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .pattern-item-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    color: #007bff;
    border: none; /* Removed the border */
    cursor: grab;
    opacity: 0.0;
    background-color: transparent;
  }
  
  .pattern-item-wrapper:hover {
    opacity: 0.1; /* Adjusted opacity for hover effect */
    background-color: transparent; /* Changed to transparent */
  }
  
  .pattern-name {
    font-size: 14px;
  }